<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pokebase</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
    </head>

    <body>
        {% if current_user.is_authenticated %}
        <p>
            Logged in: {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}" > Log out </a>
        </p>
        {% else %}
        <a href="{{ url_for('auth_login') }}">Log in </a>
        {% endif %}
        <div>
            <a href="{{ url_for('pokemon_index') }}" > List pokemon </a>
        </div>
        <div>
            <a href="{{ url_for('poke_form') }}" > New pokemon </a>
        </div>

        {% block body %}
        <p>
            Content
        </p>
        {% endblock %}
    </body>
</html>
