{% extends "layout.html" %}

{% block body %}

<div class="input-group mb-3" style="max-width:500px;">
    <form method="POST" action="{{url_for('pokemon_index')}}">
        <div class="input-group-append">
            {{search.search(class_="form-control", placeholder="Search")}}
            {{search.submit(class_="btn btn-outline-secondary", value="Search")}}
        </div>
    </form>
</div>

<table id="poke_table" role="grid" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th onclick="sortTable(0)">name</th>
            <th onclick="sortTable(1)">type</th>
        </tr>
    </thead>
    {% for p in pokemon %}
    <tbody>
        <tr>
            <td style="width:100px;">
                <a href="{{ url_for('get_pokemon', poke_id=p.id) }}">{{ p.name }}</a>
            </td>
            <td>
                {{ p.poke_type }}
            </td>
            <td>
                <form method="POST" action="{{url_for('remove_pokemon', poke_id=p.id)}}">
                    <input type="submit" value="remove" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
