{% extends "layout.html" %}

{% block body %}
<table class="table table-striped">
    <tr>
        <th>name</th>
        <th>type</th>
    </tr>

    {% for p in pokemon %}
    <tr>
        <td style="width:100px;">
            <a href="{{ url_for('get_pokemon', poke_id=p.id) }}">{{ p.name }}</a>
        </td>
        <td>
            {{ p.poke_type }}
        </td>
        <td>
            <form method="POST" action="{{url_for('remove_pokemon', poke_id=p.id)}}" >
                <input type="submit" value="remove"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
